html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

body {
		padding: 20px 0 0 0;
		background-color: #cccccc !important;
}

@media (max-width: 320px){
	  .navbar .container .nav a{
	    font-size: 85%;
	}
}

.well {
	 background: #ffffff;
	 box-shadow: 4px 4px 20px #888888 !important;
	 padding: 10px;
}

.well li {
    display: block;
}

.well li:before {
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 9px;
    float: left;
    margin-top: 4px;
    margin-left: -17px;
    color: #000000;
}

header .jumbotron{
	height:300px;
	background-image: url("./images/server.png");
	background-size: cover;
	background-position: center;
	color:white;
}

header .jumbotron .container h2{
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.btn-block {
	margin-top: 5px;
	padding-top: 5px;
}
.btn-primary{
	margin: 7px 7px auto;
	border-radius: 10px;
}

#canvas {
	text-align: center;
	font-size: 50px;
	color: white;
	text-shadow: 2px 2px 4px #000000;
	height:330px;
	width:100%;}

.btn {
	text-shadow: 2px 2px 4px #000000;
}

.c1{color: white;background-color: #0000ff;
}
.c2{color: white;background-color: #669999;
}
.c3{color: white;background-color: #00ccff;
}
.c4{color: white;background-color: #666699;
}
.c5{color: white;background-color: #ff0000;
}
.c6{color: white;background-color: #339966;
}
.c7{color: white;background-color: #00ffff;
}
.c8{color: white;background-color: #6699ff;
}
.c9{color: white;background-color: #006600;
}
.c10{color: white;background-color: #00ff00;
}
.c11{color: white;background-color: #cc33ff;
}
.c12{color: white;background-color: #99ff99;
}
.c13{color: white;background-color: #ff33cc;
}
.c14{color: white;background-color: #333300;
}
.c15{color: white;background-color: #ffff00;
}